// GLOBAL COLORS
$primary: #108ee9;
$link-color-blue: #00ADEF;
$dark-grey: #474747;
$light-black: #171717;
$dark-black:#000;
$white: #FFFFFF;


$active-filer-color:#00ADEF;
$input-background:#979797;


$btn-hover-color: #E8556E;
$btn-hover-text-color: #b17f7f;
$page-parimary-background: $white;
$page-secondary-background: rgb(245, 245, 245);

// TYPOGRAPHY
$font-file-base: "fonts";
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 500;
$font-base-size: 18px;
$font-base-family: AvenirLTStd-Book, Arial, Helvetica,sans-serif;
$font-highlight-family: Museo, Times New Roman, serif;
