@import '_variables';
@import '_typography';
@import '_common';
@import '_vendor';
@import '_navbar';
@import '_footer';

.width-wrapper {
  margin: auto;
}

body{
  height: 100vh;
  width: 100%;
  margin: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-banner-container {
  height: 100vh;
  max-height: 800px;
  width: 100%;
  display: flex; 
  align-items: center;
  background-color: $dark-black;
  color: $white;
  z-index: 3;
  .particles {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.page-banner {
  margin: auto;
  text-align: center;
  font-size: 20px;
  .hello {
    font-style: italic;
    font-size: 1em;
    text-transform: none !important;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .bio {
    font-style: italic;
    font-size: 1em;
    text-transform: none !important;
    line-height: 2rem;
  }
  .cta {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    a{
      text-decoration: none;
      color: $white;
    }
  }
  .cta:hover{
    color: $white!important;
    cursor: pointer;
  }
}

.section-container-white,
.section-container-grey {
  padding: 80px 0;
  z-index: 5;
  h2 {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    line-height: normal;
    font-weight: normal;
  }
}

.section-container-white {
  background-color: white;
}

.section-container-grey {
  background-color: $page-secondary-background;
}

.about-me {
  text-align: center;
  color: rgb(47, 47, 47);

  h2 {
    margin-bottom: 5px;
  }
  .avatar {
    border-radius: 62px;
    width: 120px;
    margin: 20px 0;
  }
  p {
    line-height: 1.6em;
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .cta{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    border: 1px solid $primary;
    text-decoration: none;
    &:hover{
      color: $primary;
    }
  }

}

.experience {
  ul.timeline {
    list-style-type: none;
    position: relative;
    padding: 0px;
  }
  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1;
  }
  ul.timeline > li {
    margin: 20px 0;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: relative;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid $primary;
    width: 20px;
    height: 20px;
    z-index: 4;
  }
  .work-header-container {
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: 15px;
  }

  .company,
  .date {
    margin: 0 0 5px 5px;
  }
  .role {
    font-weight: normal;
    font-style: italic;
  }
  .work-description {
    margin-left: 5px;
    margin-top: 0px;
    line-height: 1.5em;
  }
  .tech-stack {
    display: flex;
    list-style: none;
    padding-left: 15px;
    margin-bottom: 5px ;
    margin-top: 0px;
  
    li {
      font-size: 12px;
      border: 1px solid $primary;
      background-color: white;
      color: $primary;
      border-radius: 6px;
      margin: 0 2px;
      min-width: 10px;
      padding: 0 4px;
    }
  }

}

.education {
  .tech-stack{
    li{
      background-color: #e6f7ff;
      color: $primary;
      border-color: #91d5ff;
    }
  }
}

.projects {
  h2 {
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  .project-item {
    border: 1px solid $primary;
    width: 40%;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  h3 {
    margin-bottom: 5px;
    text-align: center;
  }
  .image {
    width: 95%;
    height: 300px;
    border-radius: 5px;
  }
}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
  width: device-width;
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1024px) {
  .width-wrapper {
    max-width: 978px;
  }
}


@media screen and (min-width:768px) and (max-width: 1024px) {
  .width-wrapper {
    max-width: 768px;
  }

}

//Tablets
@media screen and (min-width: 426px) and (max-width: 768px) {
  .width-wrapper {
    max-width: 668px;
  }
  .projects{
    .row{
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .project-item{
      width: 425px;
    }
  }

  .experience{
    .work-header-container{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .work-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    li{
      padding: 5px 0px;
      list-style: none;
    }
  }
}

//Phones 
@media screen and (max-width: 426px) {
  h2{
    font-size: 1.5rem;
  }
  .width-wrapper{
    max-width: 325px;
  }
  .page-banner{
    padding: 80px 0;
    font-size: 16px;
    .welcome{
      font-size: 2.0em;
    }
  }

  .experience{
    .work-header-container{
      flex-direction: column;
    }
  }
  .work-description{
    padding: 0px;
  }
  .projects{
    .row{
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .project-item{
      width: 90%;
    }
  }

}

