@import '_variables';
@import '_typography';
@import '_common';
@import '_vendor';

.width-wrapper {
  margin: auto;
}

body{
  height: 100vh;
  width: 100%;
  margin: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav-header-container {
  width: 100%;
  border-bottom: 0.5px solid $primary;
  
  position: fixed;
  background-color: $white;
  z-index: 5;
}

.nav-header {
  margin: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  color: $dark-grey;
  text-transform: uppercase;
  align-items: center;

  .logo, .logo a {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark-grey;
  }
  .nav-buttons { //ul
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }
  .nav-link {
    padding: 0 15px 0 0;
    transition: all 0.3s ease 0s;
    outline: none;
    text-decoration: none;
    color: $dark-grey;
    &:active{
      color: $primary!important;
    }
    &:hover{
      color: $primary!important;
    }

  } 
  a:active{
    color: $primary!important;
  }
  .active{
      color: $primary!important;
  }
}

.page-banner-container {
  height: 100vh;
  max-height: 800px;
  width: 100%;
  display: flex; 
  align-items: center;
  background-color: $dark-black;
  color: $white;
  z-index: 3;
  .particles {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.page-banner {
  margin: auto;
  text-align: center;
  .hello {
    font-style: italic;
    font-size: 20px;
    text-transform: none !important;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .bio {
    font-style: italic;
    font-size: 20px;
    text-transform: none !important;
    line-height: 2rem;
  }
  .cta {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    a{
      text-decoration: none;
      color: $white;
    }
  }
}

.section-container-white,
.section-container-grey {
  padding: 80px 0;
  z-index: 5;
  h2 {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    line-height: normal;
    font-weight: normal;
  }
}

.section-container-white {
  background-color: white;
}

.section-container-grey {
  background-color: $page-secondary-background;
}

.about-me {
  text-align: center;
  color: rgb(47, 47, 47);

  h2 {
    margin-bottom: 5px;
  }
  .avatar {
    width: 120px;
    margin: 20px 0;
  }
  p {
    line-height: 1.6em;
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .cta{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    border: 1px solid $primary;
    text-decoration: none;
    &:hover{
      color: $primary;
    }
  }

}

.experience {
  ul.timeline {
    list-style-type: none;
    position: relative;
    padding: 0px;
  }
  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1;
  }
  ul.timeline > li {
    margin: 20px 0;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: relative;
    margin-left: -15px;
    border-radius: 50%;
    border: 3px solid $primary;
    width: 20px;
    height: 20px;
    z-index: 4;
  }
  .work-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: -25px;
    margin-left: 15px;
  }

  .company,
  .date {
    margin: 0 0 5px 5px;
  }
  .role {
    font-weight: normal;
    font-style: italic;
  }
  .work-description {
    margin-left: 5px;
    margin-top: 0px;
    line-height: 1.5em;
  }
  .work-description-sub {
  }
}

.education-container {
  background-color: $white !important;
}

.projects {
  h2 {
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  .project-item {
    border: 1px solid $primary;
    width: 45%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  h3 {
    margin-bottom: 5px;
    text-align: center;
  }
  .image {
    width: 95%;
    height: 300px;
    border-radius: 5px;
  }
}

.footer{
  padding: 3px 0;
  color: $white;
  background-color: $dark-black;
  text-align: center;
  a{
    text-decoration: none;
    color: $white;
  }
}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
  width: device-width;
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 978px) {
  .width-wrapper {
    max-width: 978px;
  }
}
